<head>
  <link rel='stylesheet' href='style.css'/>
  <link href='https://fonts.googleapis.com/css?family=Poller+One|Source+Sans+Pro' rel='stylesheet'>
</head>

<body class='column'>

  <a href='/logout' class='logout'>logout</a>

  <div>
    <h1>Movie Search Engine</h1>

    <form class='column'>
      <input type='text' class='search'/><br>
      <input type='submit' name='submit' class='orange-button'/>
    </form>

  </div>
</body>
